/* Django Unleashed
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.desktop {
    display: none;
}

@media (min-width: 550px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

.center {
    text-align: center;
}

.errorlist {
    color: #dd1144;
}

.error {
    color: #dd1144;
}

.error input, .error select {
border: 2px #dd1144 solid;
}

.helptext {
    display: block;
    padding: 0;
    margin: -1em 0 2em;
    color: #555;
}

html {
    height: 100%;
    background-color: #555;
}

body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
    background-color: white;
}

body>div>header {
    text-align: center;;
}

header h1 {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.logo {
    display:block;
    width:50%;
    height:50%;
    background-image: url("/static/site/images/logo.png");
    background-repeat: no-repeat;
    background-position: top;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 750px) {
    .logo {
        padding-top: 0;
        background-size: contain;
        background-position: 0% 0%;
    }
}

@media (min-width: 1000px) {
    .logo {
        background-position: 10% 0%;
    }
}
@media (min-width: 1200px) {
    .logo {
        background-position: 15% 0%;
    }
}

nav {
    border-top: 1px solid #eee;
    width: 100%;
    border-bottom: 1px solid #eee;
    margin: 0 0 1em;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0.5em 0;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 0;
    margin: 0 0.25em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .10rem;
}

@media (min-width: 400px) {
    nav ul li {
        letter-spacing: .15rem;
        font-size: 1.2rem;
        margin: 0 0.5em;
    }
}

@media (min-width: 550px) {
    nav ul li {
        margin: 0 0.75em;
    }
}


nav ul li a {
    color: #555;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.messages {
    width:  100%;
    text-align: center;
    list-style: none;
}

.messages .success {
    width: 100%;
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0; }
}

.messages .error {
    width: 100%;
    color: #FFF;
    background-color: #dd1144;
    border-color: #dd1144; }
}

article h2 {
    margin: 0;
    padding: 0;
}

article h3 {
    margin: 0;
    padding: 0;
}

.read-more {
    padding: 0;
    margin: -2em 0 0;
}

.inline {
    list-style-type: none;
    padding: 0;
    margin: 0 0 -0.5em;
}

.inline li {
    display: inline;
}

@media (min-width: 550px) {
    .latest_posts {
        display: block;
    }
}

article footer h3 {
    display: inline;
    font-size: 1.8rem;
    line-height: 1.5; 
    letter-spacing: -.05rem;
}

article footer ul {
    display: inline;
    margin: 0;
    padding: 1em 0;
    list-style-type: none;
}

article footer li {
    display: inline;
    padding: 0;
    margin: 0 0.5em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .10rem;
}

.pagination ul {
    width: 100%;
    margin: 0;
    padding: 1em 0;
    list-style-type: none;
}

.pagination li {
    display: inline-block;
    padding: 0;
    margin: 0 1em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .10rem;
}

.pagination {
    margin: 0;
    padding: 1em 0;
    list-style-type: none;
    text-align: center;

}

body>footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #555;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0;
}

body>footer p {
    margin-bottom: 0.5rem;
}

body>footer ul {
    margin: 0;
    padding: 0;
}

body>footer li{
    display: inline;
    padding: 0;
    margin: 0 1em;
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("/static/site/rss.png") no-repeat 0 50%;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Add disabled button */
.button.disabled,
.button:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
.button.button-primary.disabled,
.button.button-primary:disabled,
button.button-primary:disabled,
input[type="submit"].button-primary:disabled,
input[type="reset"].button-primary:disabled,
input[type="button"].button-primary:disabled {
  border: 1px solid lightgrey;
  background-color: transparent;
  color: lightgrey;
}

/* Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */
select[multiple] {
    height: auto;
}

textarea {
    height: auto;
    width: 100%;
}

/* jquery-ui dialog style */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-size: 11px !important;
}

/* selection2 style */

table .select2-container {
    min-width: 100%;
}

.select2-selection__rendered {
    line-height: 38px !important;
}

.select2-selection--single,
.select2-selection__arrow {
    height: 38px !important;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
    width:100%;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 3px;
    text-align: center;
}

table tr:hover {
    background-color: #F6F6F6;
}

table td input,
table td select {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0rem;

}

/* Add table sort indicator */
.asc.orderable:after{
    color: grey;
    content: '▴';
}

.desc.orderable:after{
    color: grey;
    content: '▾';
}

/* DataTables appearance */
table.dataTable {
    border-color: grey !important;
    border-collapse: collapse !important;
}

/* DataTables buttons */
.dataTables_wrapper .button,
.pagination .button {
    padding: 0 15px;
    border-color: transparent;
}

.dataTables_wrapper .button:hover,
.pagination .button:hover {
    border-color: #888;
}

.dataTables_wrapper .button-primary,
.pagination .button-primary {
    color: #1EAEDB;
    background-color: transparent;
}

.dataTables_wrapper .button-primary:hover,
.pagination .button-primary:hover {
    color: #1EAEDB;
    background-color: transparent;
    border-color: #1EAEDB;
}

.dataTables_wrapper .button.disabled:hover,
.pagination .button.disabled:hover {
    border-color: lightgrey;
}

/* Loading spinner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loading-progress {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  left: calc(50% + 30px);
  top: 50%;
  margin: -75px 0 0 -75px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Navigation menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 1.5em;
    padding: 0;
    text-align: center;
    width: 100%;
}

/* Dropdown Button */
.dropdown-button {
    border: 1px solid transparent;
    margin: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    padding: 1em 16px;
    color: #555;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .15rem;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Change dropdown links on hover */
.dropdown-content a:hover {
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
}

/* Change the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-button {
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff;
}


/* Year Calendar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.year table {
    width: 90%;
    margin: 12px;
}

.year tr {
    vertical-align: top;
}

.year tr:hover {
    background-color: transparent;
}

.year th, .year td {
    border-bottom: 1px solid transparent;
}

.month th, .month td {
    border-bottom: 1px solid #E1E1E1;
}

.month th {
  color: #FFF;
  background-color: #33C3F0;
}

.month td:hover {
    color: #33C3F0;
    font-weight: bold;
    cursor: pointer;
}

th.mon, th.tue, th.wed,
th.thu, th.fri, th.sat,  th.sun {
    color: grey !important;
    background-color: #F1F1F1 !important;
}
