{% extends "employee/base_employee.html" %}
{% load i18n %}
{% load names %}

{% block title %}
    {{ block.super }} – {{ employment|verbose_name }}
{% endblock %}

{% block employee_header %}
    <h5>{{ employment|verbose_name }}:</h5>
{% endblock %}

{% block employee_button %}
    {% if request.user.is_superuser %}
        <a href="{{ employment.get_update_url }}" class="button">{% trans "Edit" %}</a>
        <a href="{{ employment.get_delete_url }}" class="button">{% trans "Delete" %}</a>
    {% endif %}
{% endblock %}

{% block employee_content %}
    <article>
        <div class="row">
            <div class="one column"></div>
            <div class="ten columns">
                <dl>
                    <dt><strong>{% field_verbose_name employment 'number' %}:</strong></dt>
                    <dd>{{ employment.number }}</dd>
                    <dt><strong>{% field_verbose_name employment 'employee' %}:</strong></dt>
                    <dd>{{ employment.employee }}</dd>
                    <dt><strong>{% field_verbose_name employment 'staffing' %}:</strong></dt>
                    <dd>{{ employment.staffing }}</dd>
                    <dt><strong>{% field_verbose_name employment 'count' %}:</strong></dt>
                    <dd>{{ employment.count }}</dd>
                </dl>
            </div>
        </div>
    </article>
{% endblock %}
