{% extends "staffing/base_staffing.html" %}
{% load i18n %}
{% load names %}
{% load forms %}

{% block title %}
    {{ block.super }} – {{ position|verbose_name }}
{% endblock %}

{% block staffing_header %}
    <h5>{{ position|verbose_name }}:</h5>
{% endblock %}

{% block staffing_button %}
    {% if request.user.is_superuser %}
        <a href="{{ position.get_update_url }}" class="button">{% trans "Edit" %}</a>
        <a href="{{ position.get_delete_url }}" class="button">{% trans "Delete" %}</a>
    {% endif %}
{% endblock %}

{% block staffing_content %}
    <article>
        <div class="row">
            <div class="one column"></div>
            <div class="ten columns">
                <dl>
                    <dt><strong>{% field_verbose_name position 'name' %}:</strong></dt>
                    <dd>{{ position.name }}</dd>
                </dl>
            </div>
        </div>
        <h5>{% field_verbose_name position 'departments' %}:</h5>
        {% if table %}
            {% action_table_form table readonly=True %}
        {% endif %}
    </article>
{% endblock %}
