{% extends "schedule/base_schedule.html" %}
{% load staticfiles %}
{% load i18n %}
{% load forms %}
{% load names %}

{% block title %}
    {{ block.super }}
    {% if assignment %}
        - {% trans "Edit" %}
    {% else %}
        - {% trans "Create" %}
    {% endif %}
    {{ view.model|verbose_name|lower }}
{% endblock %}

{% block content %}
    {% url 'schedule:assignment:list' as cancel_url %}
    {% if assignment %}
        {% trans "Edit" as action_verbose %}
        {% form assignment.get_update_url action_verbose %}
    {% else %}
        {% trans "Create" as action_verbose %}
        {% url 'schedule:assignment:create' as form_url %}
        {% form form_url action_verbose cancel_url=cancel_url %}
    {% endif %}
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{% static 'site/js/datepicker-ru.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'site/js/schedule-assignment_form.js' %}" defer></script>
{% endblock %}
