{% extends "schedule/base_schedule.html" %}
{% load staticfiles %}
{% load i18n %}
{% load django_tables2 %}
{% load names %}
{% load forms %}

{% block title %}
    {{ block.super }} - {{ view.model|verbose_name_plural }}
{% endblock %}

{% block schedule_header %}
    <h2>{{ view.model|verbose_name_plural }}</h2>
{% endblock %}

{% block schedule_button %}
    {% if request.user.is_superuser %}
        <a href="{% url 'schedule:projectassignment:create' %}" class="button button-primary">{% trans "Create" %}</a>
    {% endif %}
{% endblock %}

{% block schedule_content %}
    {% if filter %}
        {% filter_table_form filter %}
    {% endif %}
    {% if table %}
        {% if request.user.is_superuser %}
            {% trans "Delete" as action_verbose %}
            {% action_table_form table button_class='button button-primary' action_verbose=action_verbose %}
        {% else %}
            {% action_table_form readonly=True %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{% static 'site/js/datepicker-ru.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'site/js/schedule-projectassignment_list.js' %}" defer></script>
{% endblock %}
